.todolist {
    width: 28%;
    min-height: 20px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px #6b6c6d;
    padding: 10px 30px;
    word-wrap: break-word;
    word-break: normal;
    /* background-color: #ccc; */
}

.root_title {
    font-size: 22px;
    font-weight: bold;
    /* padding: 15px 0px; */
}

input {
    border-radius: 3px;
}

ul {
    list-style-type: decimal;
}

.list li {
    margin-left: 40px;
    margin-top: 5px;
}

.list_ing li,
.list_ing a {
    color: orange;
}

.list_down li,
.list_down a {
    color: green;
}

.search input {
    margin-left: 14px;
}

.status_title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid
}

.status_down {
    color: green;
}

.status_ing {
    color: orange;
}

.search i {
    color: black;
}

.search i:hover {
    color: #31708f;
}

i {
    /* color: black; */
    padding: 2px;
    font-size: 12px;
    margin-left: 5px;
}

i:hover {
    cursor: pointer;
    color: #31708f;
}